*.user
*.userprefs
*.usertasks
*.orig
*.suo
*.pdb
*.bak
*.vsp
*.orig
*.map

.vs/
output/
bin/
obj/
packages/
packages/*.*
build/MSBuild*.*

_ReSharper*

.nuget/NuGet.exe
.nuget/nuget.exe
ReadMe_*.html
node_modules

build/*.dll

lib/dotnet/

BloomBulkDownloaderTests/x86/

BloomBulkDownloader/x86/
sync-sandbox/
sync/
unique/
